<div class="banner" style="background-image: url(../assets/images/banner.jpg);">
    <div class="banner-content">
        <div class="container">
            <div class="row align-items-center justify-content-between">
             <div class="col-lg-8">
               <div class="banner-text style-modern al-left pos-right light">
                <div class="animated fadeIn">
                  <h1>Denver Sprinkler Start Up and Repair</h1>
                  <p class="banner-desc">
                   In general it is safest to have your sprinkler startup in Denver scheduled anytime after April 11th. However, there’s always around a 25% chance of a mild freeze until approx. May 19th (however, this would normally only affect young plants and not your pipes).
                  </p>
                </div>
              </div>
              </div>
              <div class="col-lg-4">
                <div class="banner-image">
                  <img src="../assets/images/sprinklerStartUP.jpg" alt="Denver Sprinkler Startup service" />
              </div>
             </div>
            </div>
          </div>
    </div>
</div>
