<div class="cta-block">
    <div class="container">
        <div class="content row justify-content-between align-items-center">
            <div class="col-lg-7">
                <h3>
                    Please schedule start up and repairs here: <a href="https://www.5280sprinklers.com">5280Sprinklers.com</a> <br>
                 </h3>
            </div>
            <div class="col-lg-4">
                <h3>
                    <strong class="d-block">please book online</strong>
                    
                </h3>
            </div>
        </div>
    </div>
</div>
