<div class="cta-block">
    <div class="container">
        <div class="content row justify-content-between align-items-center">
            <div class="col-lg-7">
                <h3>
                    If you would like us to come out and startup your sprinkler system in Denver please feel free to contact me directly: <br>
                 </h3>
            </div>
            <div class="col-lg-4">
                <h3>
                    <strong class="d-block">Conrad @ unavailable via phone</strong>
                      (text messages preferred)
                </h3>
            </div>
        </div>
    </div>
</div>
