<div class="sec-header">
  <div class="topbar">
    <div class="container">
      <div class="row text-center text-md-left justify-content-between">
       <div class="col-md-6">
          <p>Denver Sprinkler Repairs and Blowout – Prompt arrival and professional service  </p>
       </div>
       <div class="col-md-6 text-md-right">
          <!--<p>All appointments must be booked online</p>-->
          <p>For service, please text Leif directly at 785.617.ZER0ZER015</p>
        </div>
      </div>
    </div>
  </div>

 <div class="menu-section">
    <div class="container">

      {% include main-menu.html %}

    </div>
 </div>
</div>
