<div class="sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4">
               <div class="content-box">
                   <img src="../assets/images/tools-1.jpg" alt="">
                   <h2>
                        Sprinkler tools that I recommend
                   </h2>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="content-box">
                   <img src="../assets/images/tools-3.jpg" alt="">
                   <h2>
                    If you are ready to upgrade your Denver sprinkler controller, I can recommend these
                    </h2>
               </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4">
               <div class="content-box">
                    <img src="../assets/images/tools-2.jpg" alt="">
                   <h2>
                    As an Amazon Associate I earn from qualifying purchases
                   </h2>
               </div>
            </div>
        </div>
    </div>
</div>