<div class="toggle-wrap d-lg-none">
  <div class="toggle-line ">
    <span></span>
  </div>
  <div class="logo">
    <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logo.png" alt="Denver Sprinkler Repairs and Blowout – Prompt arrival and professional service"/></a>
  </div>
  
</div>
<div class="main-menu">
  <div class="header-nav justify-content-between">
      <div class="logo">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logo.png" alt="Denver Sprinkler Repairs and Blowout – Prompt arrival and professional service"/></a>
      </div>
      <ul>
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Denver Sprinkler blowout</a></li>
        <li><a href="{{site.baseurl}}/denver-sprinkler-repairs/" class="{% if page.url contains 'denver-sprinkler-repairs' %}current{% endif %}">Denver Sprinkler System Repairs</a></li>
        <li><a href="{{site.baseurl}}/denver-sprinkler-system-repairs/" class="{% if page.url contains 'denver-sprinkler-system-repairs' %}current{% endif %}">Denver Sprinkler Start Up and Repairs</a></li>
        <!-- <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li> -->
      </ul>
  </div>
  <div class="header-navbar-overlay"></div>
</div>