
<div class="sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="content-box">
                    <h1>Denver Sprinkler blowout – 90 CFM professional and prompt service in Denver Colorado</h1>
                    <h2>Hello and Welcome to Denver Sprinkler Blowout and Repairs.</h2>
                    <h3>Now scheduling Fall Winterization Sprinkler Blowouts for 2022</h3>
                    <p>
                        <h4>Please tap or click on the service area map to schedule on the correct day for your area (if using a mobile device please resize as necessary):<br>
                    <a href="#denver">Denver map</a> | <a href="#aurora">Aurora, Centennial, Southlands, DTC map</a> | <!--<a href="#thornton">Thornton area</a>-->
                         </h4>
    <a name="denver"><br>
                        <img src="../assets/images/DenverMap.png" usemap="#image_map">
<map name="image_map">
  <area alt="Denver EAST" title="Denver EAST" href="https://sprinkler.as.me/?appointmentType=36807369" coords="910,287 915,859 1218,867 1265,898 1393,866 1383,623 1510,558 1510,505 1472,485 1431,480 1387,451 1383,10 1274,9 1142,304 912,287 " shape="polygon">
  <area alt="Denver CENTRAL" title="Denver CENTRAL" href="https://sprinkler.as.me/?appointmentType=36807385" coords="688,294 886,290 886,862 543,862 459,743 451,616 " shape="polygon">
  <area alt="Denver SOUTH" title="Denver SOUTH" href="https://sprinkler.as.me/?appointmentType=36809706" coords="550,879 587,978 579,1110 546,1245 968,1245 1103,1245 1211,1243 1296,1243 1349,1245 1385,1241 1387,891 1274,922 1214,879 " shape="polygon">
  <area alt="Denver WEST" title="Denver WEST" href="https://sprinkler.as.me/?appointmentType=36824968" coords="511,1219 61,1221 65,248 169,188 459,99 470,265 521,277 519,384 391,517 384,587 393,625 410,756 502,879 541,994 " shape="polygon">
</map>

<br>
    <a name="aurora">                
<h4>Aurora, Centennial and South Denver</h4>
        (Please tap or click on the service area map to continue)
<img src="../assets/images/AuroraCentMap.png" usemap="#image_mapL">
<map name="image_mapL">
<area title="North Aurora" alt="East Denver and West Aurora" coords="301,77 302,344 453,431 581,574 636,590 718,542 721,237 952,231 902,194 744,120 " shape="polygon" href="https://sprinkler.as.me/?appointmentType=36955445">
<area title="Buckley area" alt="East Aurora and Southlands" coords="731,246 729,543 644,596 662,602 1037,610 1199,670 1195,247 " shape="polygon" href="https://sprinkler.as.me/?appointmentType=36955481">
<area title="South Denver Tech Center" alt="South Denver Tech Center" coords="291,359 237,391 236,475 283,476 300,485 296,617 235,617 236,917 497,922 471,857 597,859 597,739 494,699 494,663 607,592 578,589 432,434 353,386 325,380 " shape="polygon" href="https://sprinkler.as.me/?appointmentType=36955162">
<area title="Centennial" alt="Centennial" coords="657,611 657,732 721,796 700,800 702,816 611,815 611,855 752,860 834,1029 858,974 942,937 1017,947 1105,984 1210,982 1206,836 1164,849 1171,822 1145,820 1100,736 1089,681 1033,678 1029,616 " shape="polygon" href="https://sprinkler.as.me/?appointmentType=36955521">
</map>
            <div class="col-lg-5">
                <div class="img">
                    <img src="assets/images/easy-Online-Scheduling-Denver-Sprinkler-Blowout.jpg" alt="easy Online Scheduling Denver Sprinkler Blowout">
                 </div>
            </div>

<div class="sec bg-gray">
    <div class="container">
        <div class="row align-items-center gutter-vr-30px">
            <div class="col-lg-7">
                <div class="content-box">
                    <p>
                        Schedule your sprinkler winterization below by booking through our online scheduling system (use the map above) – <strong>Denver sprinkler blowout</strong> service – Serving most of metro Denver and Highlands, Lowry, Stapleton, Northfield and Beeler Park.
                    </p>
                    <p>
                        We provide sprinkler blowout and winterization for Stapleton and Lowry on Sunday, Wednesday and Friday’s so please use this site to schedule below. When you are looking for “sprinkler blowout near me”, look no further!
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="content-box">
                    <img src="assets/images/cj_cmbotanics.jpg" alt="cj cmbotanics">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-box">
                    <p>
                        Not finding an available time slot for a sprinkler blowout? If it’s not going to get below say 27 or so for more than an hour or two, you can always cover the exposed (above ground pipes with a blanket and trash bag which will help delay the formation of ice inside of the exposed pipes.
                    </p>
                    <p>
                        What can you do if a freeze warning is issued and you find that there are no available sprinkler blowout appointments for the next few days? You can send me a text message and I will try to accommodate you as best I can. Voice-mail is inefficient at best – if I can answer, I will. If I do not, it probably means I’m beyond capacity – thank you for your understanding!
                     </p>
                     <p>
                        I may drain the supply side pipes (if there is a drain plug available – if this is missing, I’ll let you know and recommend what should be changed or added so that your pipes will stay intact). I’m able to hook into most non-standard setups as well as I have a variety of fittings to get the water out of your sprinkler system.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-box">
                  <h2> DIY – Preventative measures </h2>
                  <p class="lead">
                    What to do if you cannot get your sprinkler blown out before a hard freeze?
                  </p>
                  <ol class="style-number">
                        <li>
                            Shut off the water valve that supplies the sprinkler system (often in the basement or crawlspace).
                        </li>
                        <li>
                            Find the pressure vacuum breaker (see below), open the 2 test cocks to 45 degrees with a flat head screw driver – (not fully open nor fully closed – 45 degree angle!).
                            <img class="col-md-4 alignright mt-3" src="assets/images/45backflow_pvb.jpg" alt="">
                        </li>
                        <li>
                            The larger ball valves (they often have a rubber covering) should be opened and left at a 45 degree angle to prevent freezing and cracking the sides of the ball valve. If there is a small waste drain valve at the elbow of your copper pipes – open it to allow water to flow out of the PVB.
                        </li>
                        <li>
                            Open any and all drains in the valve manifold box(es) – they often look like a cross and can be difficult to open – (remember – left loosy/righty tighty)
                        </li>
                        <li>
                            For main sprinkler valves in basements, you must drain the water pipe from the vacuum breaker back to the main sprinkler valve by using the drain cap on the main sprinkler shutoff valve or other drains connected to that pipe.
                        </li>
                        <li>
                            Go back inside near the primary sprinkler shutoff valve and loosen/remove the waste valve cap and drain the line with gravity (if/where possible). (remember, nothing will come out if you didn’t open the lower or both test cocks and the valves – either all the way open or 45’d…then after drained sufficiently, go back and ensure that all testcocks/valves are at 45 degrees.
                        </li>
                        <li>
                            Don’t worry so much about the buried sprinkler lines and heads – they should be okay for mild freezes lasting only a day or so (>28 degrees) as the ground is still warm in early October.
                        </li>
                  </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <div class="content-box">
                    <h2>For the DIY folks:</h2>
                    <p class="lead">
                        The Vacuum Breaker device must be protected from freezing.
                    </p>
                    <p>
                        Thermal water expansion and/or water hammer downstream of the backflow preventer can cause excessive pressure increases. Excessive pressure situations should be eliminated to avoid possible damage to the system and device.
                    </p>
                    <div class="gap"></div>
                    <h2>Draining Procedure:</h2>
                    <p>
                        To drain the backflow prevention assembly for protection against freezing, use the following procedures:
                    </p>
                    <ol class="style-number">
                        <li>Turn off the main shut-off valve which provides water to the system.</li>
                        <li>Open all inlet and outlet drain valves on the system. Open inlet and outlet shut-off valves on backflow prevention assembly and all testcocks. Leave in half open / half closed (45° degree) position to allow for full drainage of ball valve shut-offs. See ball valve draining procedure.</li>
                        <li>Should you “blowout” the piping system downstream of the backflow prevention assembly, make sure the outlet drain valve is open and the backflow prevention outlet shut-off valve is closed.</li>
                        <li>Connect an air line to the outlet drain valve and introduce air of adequate volume to clear downstream system of water.</li>
                        <li><strong>Important:</strong> Open outlet shut-off valves to the backflow preventer assembly (C and D) to a half open / half closed (45° degree) position after “blowout” procedure is complete.</li>
                        <li>Leave all drain valves , testcocks and ball or gate valves to backflow preventer in a half open / half closed position for the winter to prevent freezing.</li>

                    </ol>
                    <div class="gap"></div>
                    <p>
                        CFM: Cubic Feet per Minute – this is important with regard to the sprinkler winterization & blowout process. Insufficient CFM can result in poorly winterized systems and will take much longer = more heat on internal parts. Don’t allow someone to increase the PSI (Pressure per Square Inch) as you could sustain damage to numerous parts if they exceed the safe levels. So, in order to help you understand the difference between CFM and PSI, CFM refers to volume of air where PSI is the pressure. We need to apply sufficient volume of air to displace the volume of water that rests inside the sprinkler manifold, pipes and sprinkler heads.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
