.footer{
  background: #1e2228;
  padding: 20px 00;
  p{
    margin: 0;
    color: #fff;
  }
}
.scroll{
  width: 50px;
  height: 45px;
  background: #F95A09;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 13px 10px;
    border-color: transparent transparent #ffffff transparent;
    top: -4px;
  }
}
html{
  scroll-behavior: smooth;
}