
.main-menu {
    position: relative;
  ul{
    li{
      display: inline-block;
      a{
        display: block;
        font-weight: 700;
        font-size: 14px;
        color: #596570;
        padding: 40px 10px;
        line-height: 20px;
        text-transform: uppercase;
        &.current{
            color: $primary;
        }
      }
      &:hover{
          a{
              color: $primary;
              text-decoration: none;
          }
      }
    }
  }
  
}
